<h1></h1>
<p></p>


<% if !current_doctor%>
<%= render "about"%>
<% end %>


<% if current_doctor %>
  <p>Bienvenid@ Dr(a) <%= current_doctor.surnames %> con ID <%= current_doctor.id %> !</p>
  <%= link_to "Log out", destroy_doctor_session_path, method: :delete%>

  <a href="<%= doctors_profile_path %>">
    <button type="button" name="button">Ver mi perfil</button>
  </a>


  <p>Aqui esta su agenda:</p>

    <table>
        <thead>
          <th>Fecha/hora</th>
          <th>Nombre Paciente</th>
          <th>Apellido Paciente</th>
          <th>Lugar de Atencion</th>
          <th>$ por atencion</th>
          <th># boleta</th>
          <th>Status de pagp</th>
        </thead>

        <tbody>
          <% @appointments.each do |app| %>
            <tr>
              <td><%= app.date_time %></td>
              <td><%= app.patient.names %></td>
              <td><%= app.patient.surnames %></td>
              <td>ONLINE</td>
              <td><%= app.cost %></td>
              <td >
                <div id="add-to-existing-button">
                  <button type="button" name="button">Add to existing invoice</button>
                </div>
                <div id="add-to-existing">
                <%= form_for :invoice, url: appointment_path, method: :put do |f| %>
                  <%= f.text_field :invoice_id  %>
                  <%= f.hidden_field :appointment_id, value: appointment.id %>
                  <%= f.submit "Add to invoice" %>
                <% end %>
                </div>
              </td>
              <td id="create-new">
                <%= form_for :invoice, url: appointment_path, method: :put do |f| %>
                  <%= f.hidden_field :invoice_id, value: nil %>
                  <%= f.hidden_field :appointment_id, value: appointment.id %>
                  <%= f.submit "Create new Invoice" %>
                <% end %>
              </td>

           </tr>
         <% end %>
        </tbody>
    </table>
<% end %>

<script>
  $(document).ready(function(){
    $('#add-to-existing').hide();

    $('#add-to-existing-button').click(function(){
      $('#add-to-existing-button').hide();
      $('#add-to-existing').show();
    });
  });


</script>
