

<table>
    <thead>
      <th>ID</th>
      <th>RUT</th>
      <th>Nombres Doctor</th>
      <th>Apellidos Doctor</th>
      <th>Especialidad</th>
      <th>email</th>
    </thead>

    <tbody >
        <tr id="solo-ver">
          <td><%= @doctor.id %></td>
          <td><%= @doctor.RUT %></td>
          <td><%= @doctor.names %></td>
          <td><%= @doctor.surnames %></td>
          <td><%= @doctor.specialty %></td>
          <td><%= @doctor.email %></td>
       </tr>
   </tbody>

   <tbody id="editando">
         <form action="<%= doctors_update_path %>" method="post">
           <%= token_tag %>
           <tr>
             <!-- <form class="" action="index.html" method="post">   -->
               <td>
                 <input type="text" name="id" value="<%= @doctor.id %>">
               </td>
               <td>
                 <input type="text" name="doctor[RUT]" value="<%= @doctor.RUT %>">
               </td>
               <td>
                 <input type="text" name="doctor[names]" value="<%= @doctor.names %>">
               </td>
               <td>
                 <input type="text" name="doctor[surnames]" value="<%= @doctor.surnames %>">
               </td>
               <td>
                 <input type="text" name="doctor[specialty]" value="<%= @doctor.specialty %>">
               </td>
               <td>
                 <input type="text" name="doctor[email]" value="<%= @doctor.email %>">
               </td>
          </tr>
          <tr>
            <input type="submit" value="Listo">
          </tr>
        </form>
  </tbody>

</table>
<p>
<button type="button" name="button" id="editar">Editar perfil</button>

<script>
  $(document).ready(function(){
    $('#editando').hide();
    $('#listo').hide();
    console.log('jQuery está funcionando');

    $('#editar').click(function(){
      $('#solo-ver').hide();
      $('#editando').show();
      $('#editar').hide();
    });
  });
</script>



<%= render "boletas", boletas: @boletas %>
