<!DOCTYPE html>
<html>
  <head>
    <title>CollectionsPostgre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- codigo de phantom
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
     -->

    <!-- codigo por defecto de rails -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- class="is-preload" viene de phantom -->
  <body class="is-preload">
    <!-- Needed for devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- antes de phantom, yiels estaba aqui -->
     <!-- <#%= yield %> -->



    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->


      <% if (current_doctor || current_patient)  %>
        <header id="header">
          <div class="inner">
            <!-- Nav -->
            <nav>
              <ul>
                <li><a href="#menu">Menu</a></li>
              </ul>
            </nav>
          </div>
        </header>


        <!-- Menu -->
        <nav id="menu">
          <h2>Menu</h2>
          <ul>
            <% if (current_doctor)  %>
              <li><%= link_to "Log out", destroy_doctor_session_path, method: :delete%></li>
              <li><%= link_to "Ver mi perfil", doctors_profile_path%></li>
            <% elsif (current_patient) %>
              <li><%= link_to "Log out", destroy_doctor_session_path, method: :delete%></li>
              <li><%= link_to "Ver mi perfil", doctors_profile_path%></li>
            <% else %>
              <li> Esto no se deberia estar mostrando </li>
            <% end %>
          </ul>
        </nav>
      <% end %>


        <!-- Main -->
        <div id="main">
          <div class="inner">
            <%= yield %>
          </div>
        </div>


        <!-- Footer -->
        <footer id="footer">
          <div class="inner">
            <ul class="copyright">
              <li>&copy; Untitled. All rights reserved</li>
              <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>
        </footer>
    </div>



  </body>
      <%= javascript_include_tag 'application'%>
</html>
